@font-face {
    font-family: 'Dm Sans';
    src: url("../fonts/DMSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Dm Sans Medium';
    src: url("../fonts/DMSans-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Dm Sans Bold';
    src: url("../fonts/DMSans-Bold.ttf") format('truetype');
}

